<div style="min-height:99vh;" class="bgBackground">
<div class="forgotPasswordMain">
  <div class="siteLogo"></div>
  <br/><br/>
  <div class="textInput">
    <input type="text" autocomplete="off" required="required" [(ngModel)]="username">
    <span>Kullanıcı Adınızı Girin</span>
    <i></i>
  </div>
  <br/>
  <div class="ui animated fade  button bgYellow" (click)="sendResetCode()" tabindex="0" *ngIf="wait == false">
    <div class="visible content" >Sıfırlama Kodu Gönder</div>
    <div class="hidden content">
      <i class="paper plane outline icon"></i>
    </div>
  </div>
  <div *ngIf="wait == true" class="ui active centered inline loader"></div>
</div>
</div>
