<div class="ui fixed top segment pf0" [class.scrolledNaviColor]="navbarScrollColor == true" [class.mainNaviColor]="navbarScrollColor == false">
<div class="ui secondary menu" style="border:none;">
  <div class="item" routerLink="/" class="logoTextDiv" id="logoTextDiv"><font class="navLogo" [class.scrolledTextColor]="navbarScrollColor == true" [style]="'position:relative; top:5px; border: 3px solid '+ (navbarScrollColor == true ? 'white;' : 'black;')" style="font-family:sans-serif; font-size:22px; padding:12px; border-radius: 10px; font-weight:bold; letter-spacing: 2px;">	&#60;/bug&#62;</font></div>
  <div class="right menu">
    <a *ngIf="isLogged == true" routerLink="/notifications" class=" menuItem" [class.scrolledTextColor]="navbarScrollColor == true"><i class="teal bell outline icon"></i>Bildirimler</a>
    <a *ngIf="isLogged == false" routerLink="/introduction" class=" menuItem" [class.scrolledTextColor]="navbarScrollColor == true"><i class="teal info icon"></i>Hakkımızda</a>
    <a *ngIf="isLogged == false" class=" menuItem" [class.scrolledTextColor]="navbarScrollColor == true" routerLink="/login"><i class="teal user circle icon"></i>Giriş</a>
    <a class="ui right dropdown naviDropdown" [class.scrolledTextColor]="navbarScrollColor == true" [style.display]="!isLogged ? 'none' : 'block'">
      <a class="menuItem" [class.scrolledTextColor]="navbarScrollColor == true"><i class="teal user circle icon"></i><font>{{currentUsername}}</font><i class="dropdown icon"></i></a>

      <div class="menu">
        <div class="item" style="font-weight: normal !important;">Mesajlar</div>
        <div class="item" routerLink="/settings/account" style="font-weight: normal !important;">Ayarlar</div>
        <div (click)="logout()" style="font-weight: normal !important;" class="item">Çıkış Yap</div>
      </div>
    </a>

  </div>
</div>
</div>

