.discussDiv {
  color:var(--discuss-text-color);
  /*border:2px solid rgb(167, 167, 167);
  -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#00abeb), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #66cc00)) 21 30 30 21;
  border-image: -webkit-gradient(linear, left top, left bottom, from(#00abeb), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #66cc00)) 21 30 30 21 repeat repeat;
  border-left: none;
  border-right: none;*/
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  word-break: break-word;
  /*box-shadow: 1px 1px 1px 0px #cacaca;*/
  }
  body.dark .discussDiv {
    /*border: 1px solid rgb(67, 67, 67);*/
    box-shadow: 1px 1px 1px #313131;
  }
.discussHeaderText {
  padding-bottom: 3px;
  /*border-bottom: 1px solid var(--discuss-text-color); */
}
.discussHeader {

  font-size:13px;
  font-weight:bold;
  padding:3px;
  color: var(--discuss-header-color);
}
.discussUserName {
  font-size: 16px;
  font-weight: bold;
}
.discussUserProfilePhoto{
  border-radius: 50%;
  object-fit: cover;
  width: 150px;
  height: 150px;
}
.discussBody {

  font-size:12px;
  padding:3px;
}
.discussFooter {
  font-size:15px;
  padding-top: 15px;
  color:var(--discuss-footer-text-color);
}
.discussFooterText {
  font-size: 14px;
}
.discussBodyText {

}
.discussDescription {
  display: -webkit-box;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1em;
  line-height: 1em;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
pre {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
