.main {
  min-height: 95vh;
  width: 100%;
  padding-top: 100px;
  font-family: sans-serif;
  text-align: center;
}
.formDiv {

  max-width: 600px;
  width: 100%;
  display: inline-block;
}
.contentMain {
  color:black;
  padding: 30px;
  border-radius: 15px;
  margin-bottom: 100px;
}
