<div class="discussMainDiv">
  <div style="position:relative;">
    <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">{{discussionsTitle}}</h2>
    <div style="position: absolute; right:0px; top:0px;">
    <!--Filtreleme-->
    <div class="ui floating labeled icon dropdown button discussDropdown">
      <i class="filter icon"></i>
      <span class="text">Filtrele</span>
      <div class="menu">
        <div class="header">
          Başlığa Göre Ara
        </div>
        <div class="ui action input">
          <input type="text" placeholder="Ara..." [value]="filterDto.discussTitle" [(ngModel)]="filterDto.discussTitle">
          <button class="ui button" (click)="filter()">Ara</button>
        </div>
        <div class="header">
          <i class="star outline icon"></i> Favorilere Göre Filtrele
        </div>
        <div class="divider"></div>
        <div (click)="showFavorites()" class="item">
          <div  class="ui red empty circular label"></div>
          İlgilendiklerim
        </div>
        <div (click)="showAll()" class="item">
          <div class="ui blue empty circular label"></div>
          Tümü
        </div>
      </div>
    </div>
    <!---->
    </div>
  </div>
  <br/>
  <!--<hr style="margin:0px; margin-top:0px; margin-bottom:20px">-->
  <div *ngIf="(!discussions || discussions.length < 1) && loading == false" style="font-size: 18px; font-weight:bold; text-align: center; margin-top: 20px;"><i class="x icon"></i>Gönderi bulunamadı...</div>
  <div *ngFor="let discuss of discussions">
    <app-discuss [discuss]="discuss" [setLine2]="true"></app-discuss>
  </div>

  <div class="ui item menu">
    <div class="item">
      <div class="ui buttons">
        <button class="ui button" (click)="previousPage()"><i class="angle left icon"></i></button>
        <button class="ui button secondary">{{page}}</button>
        <button class="ui button" (click)="nextPage()"><i class="angle right icon"></i></button>
      </div>
    </div>

  </div>
</div>
