<div class="introduction">
  <div class="ui grid stackable customBg">
    <div class="eight wide column">
      <div class="colContent">
        <div class="div-content">
          <div class="desc">
            <i class="comment alternate icon huge"></i><br/><br/>
            E-Discuss kullanıcılarla belirli konular hakkında tartışıp bilgi alışverisi yapmanızı sağlayan bir platformdur.
          </div>
        </div>
      </div>
    </div>
    <div class="eight wide column">
      <div class="colContent">
        <div class="div-content">
          <div class="siteLogo"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui grid customBg stackable">
    <div class="eight wide column">
      <div class="colContent">
        <div class="div-content">
          <img class="introImage" src="/assets/subjectsel.png"/>
        </div>
      </div>
    </div>
    <div class="eight wide column">
      <div class="colContent">
        <div class="div-content">
          <div class="desc">
            <i class="tags icon huge"></i><br/><br/>
            E-Discuss üzerinde tanımlanmış konulardan ilginizi çekenleri seçerek deneyiminizi kişiselleştirebilirsiniz.
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="ui grid customBg stackable">
    <div class="eight wide column">
      <div class="colContent">
        <div class="div-content">
          <div class="desc">
            <i class="paint brush icon huge"></i><br/><br/>
            Platform üzerinde sorularınız ve yanıtlarınız için markdown desteği sağlanmaktadır. Bu sayede anlatmak istediklerinizi daha görsel bir şekilde anlatabilirsiniz.
          </div>

        </div>
      </div>
    </div>
    <div class="eight wide column">
      <div class="colContent">
        <div class="div-content">
          <img class="introImage" src="/assets/md.png"/>

        </div>
      </div>
    </div>
  </div>
  <div class="ui grid customBg stackable">
    <div class="eight wide column">
      <div class="colContent">
        <div class="div-content">
          <div class="registerContent">
            <i class="user plus icon huge"></i><br/><br/>
            Henüz ailemize katılmadın mı ? <br/> Hemen sen de E-Discuss ailesine katıl.</div> <br/>
          <button class="btn bgYellow" routerLink="/register">Kayıt Ol</button><br/><br/>
        </div>
      </div>
    </div>
    <div class="eight wide column">
      <div class="colContent">
        <div class="div-content">
          <div class="loginContent">
            <i class="sign-in icon huge"></i><br/><br/>Ailemize zaten üye misin ?</div><br/>
          <button class="btn bgYellow" style="padding:8px 10px; background-color: #6eddff;" routerLink="/login">Giriş Yap</button>
        </div>
      </div>
    </div>
  </div>
</div>
