<div class="introduction">
  <div class="ui grid stackable customBg">
    <div class="sixteen wide column">
      <div class="colContent">
        <p style="color: white; margin-left: 110px; font-size: 30px;">&#60;bug&#62;</p>
        <div class="div-content" style="border-left: 3px solid white; margin-left:100px">
          <div class="desc descLeft">
            <br/><br/><div class="descText" id="text1">Slashbug milyonlarca yazılımcıyla birlik olarak kodlama hatalarını tartışıp çözmeni hedefler.</div>
          </div>
        </div>
        <p style="color: white; margin-left: 110px; font-size: 30px;">&#60;/bug&#62;</p>
      </div>
    </div>
  </div>
  <div class="ui grid customBg stackable">
    <div class="eight wide column">
      <div class="colContent">
        <div class="div-content">
          <br/><br/>
          <br/><br/>
          <br/>
          <img class="introImage" src="/assets/subjectsel.png"/>
        </div>
      </div>
    </div>
    <div class="eight wide column">
      <div class="colContent">
        <p style="color: rgb(151, 0, 0); margin-left: 110px; font-size: 30px; text-align: right;">&#60;bug&#62;</p>
        <div class="div-content" style="border-right: 4px solid rgb(151, 0, 0);">
          <div class="desc descRight">
            <br/><div class="descText " id="text2-start">İşler içinden çıkılmaz bir hal mi aldı ?</div>
            <div class="descText " id="text2-middle">Milyonlarca Bugger yardımcı olmak için 7/24 seninle</div>
            <div class="descText " id="text2-end">E Ne demişler bir elin nesi var iki elin sesi var</div>
          </div>
        </div>
        <p style="color: rgb(151, 0, 0); margin-left: 110px; font-size: 30px; text-align: right;">&#60;/bug&#62;</p>
      </div>
    </div>
  </div>
  <!--<div class="ui grid customBg stackable">
    <div class="sixteen wide column">
      <div class="colContent">
        <div class="div-content">
          <div class="desc">
            <i class="paint brush icon huge"></i><br/><br/>
            <div class="descText" id="text3">Platform üzerinde sorularınız ve yanıtlarınız için markdown desteği sağlanmaktadır. Bu sayede anlatmak istediklerinizi daha görsel bir şekilde anlatabilirsiniz.</div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <div class="ui grid gradientBg stackable">
    <div class="eight wide column">
      <div class="colContent">
        <div class="div-content" style="border-left: rgb(255, 247, 0) 1px solid; min-height: 600px; margin-left: 40px; padding-left: 20px;">
          <p style="color: #c7c779; font-size: 30px;">&#60;Sonsuz bir kod evreninden bahsediyoruz,
            tek bir noktadan kaynaklanan hatalarla
            yeterince vakit kaybetmedin mi ?&#62;</p>
            <div style="border-left: 2px solid white; height: 200px; max-width: 500px; color:white; font-size: 60px; font-weight: 300; padding-left: 20px; padding-top:20px; line-height: 1.2em;">&#60; Haydi ne bekliyorsun ? &#62;</div>
        </div>
      </div>
    </div>
    <div class="eight wide column">
      <div class="colContent">
        <div class="div-content" style="bottom: 100px; left: 0px; position:absolute;">
          <div class="registerContent" style="text-align: center;">
            <br/><br/>
            <font class="descText" id="registerText">Hemen sen de &#60;/bug&#62; ailesine katıl.</font><br/><br/>
            <button class="btn" style="background-color: #000033; color:white;" routerLink="/register">&#60;/Kayıt Ol&#62;</button><br/><br/>

          </div> <br/>

          <div class="loginContent" style="text-align: center;">
            <br/><br/><font id="loginText">Ailemize zaten üye misin ?</font>
            <br/><br/>
            <button class="btn bgYellow" style="padding:8px 10px;" routerLink="/login">&#60;/Giriş Yap&#62;</button>
          </div><br/>

        </div>
      </div>
    </div>
  </div>
</div>
