.mainAddReply {
  max-width: 800px;
  width: 100%;
  padding-top: 50px;
}
.addReply {
  border-radius: 5px;
  color:rgb(205, 205, 205);
  /*-webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#00abeb), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #66cc00)) 21 30 30 21;
  border-image: -webkit-gradient(linear, left top, left bottom, from(#00abeb), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #66cc00)) 21 30 30 21 repeat repeat;*/
  margin-bottom: 20px;
  padding: 10px;
  word-break: break-word;
}
.textButton {
  display:inline-block;
  padding:7px;
  background-color: rgb(229, 229, 229);
  border:0px;
  cursor: pointer;
  border-radius: 3px;
  margin-right: 5px;
}
.textButton:hover {
  background-color: rgb(180, 180, 180);

}
.textCustom {
  text-align: right;
  margin-bottom: 5px;
  padding: 5px;
  border-bottom: 1px solid gray;
  /*border-radius: 3px;*/
  /*box-shadow:1px 1px 4px 1px #21002d;*/

}
