<link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Arbutus' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Yatra One' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Walter Turncoat' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Vampiro One' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
<div class="bgBackground" style="min-height:100vh; min-width:100%;">
<app-navi></app-navi>
<div style="margin-top: 80px;">
  <router-outlet></router-outlet>
</div>
</div>
<app-footer></app-footer>
