.main {
  min-height: 95vh;
  width: 100%;
  padding-top: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.contentMain {
  color:black;
  padding: 30px;
  border-radius: 15px;
  margin-bottom: 100px;
  max-width: 500px;
  display: inline-block;
  width: 100%;
}
.loginFormClass {
  width: 100%;
  border: 100px;
  text-align: center;
}
.forgotPasswordMain {
  width: 100%; text-align: center; color:white;
}
.forgotPassword {
  display:inline-block;
  text-align:right;
  max-width:400px;
  width:100%;
  color: #949494;
  cursor: pointer;
}
.forgotPassword:hover {
  text-decoration: underline;
}
.registerBtn {
  margin-top: 10px;
  border:2px solid #c7c779;
  font-size: 16px;
}
.registerBtn:hover {
  border:1px solid #ffffff;
  cursor: pointer;
}
