.subjectFilterMain {
  margin: 15px;
}
.subjectFilterClass {

}
.categorySubjectsGroup {

}
.categoryClass {
  padding:8px;
  padding-left: 10px;
  margin-bottom: 5px;
  background: var(--category-item-background);
  /*background: -moz-linear-gradient(90deg, rgba(29,53,87,1) 0%, rgba(51,18,83,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(29,53,87,1) 0%, rgba(51,18,83,1) 100%);
  background: linear-gradient(90deg, rgba(29,53,87,1) 0%, rgba(51,18,83,1) 100%); */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d3557",endColorstr="#331253",GradientType=1);
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  /*box-shadow: inset 0px 0px 3px 0px white;*/
}
.subjectClass {
  padding:3px;
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px;
}
.subjectClass:hover::after{
  content: ' \203A\203A';
}
.subjectBg {
  background-color: var(--subject-item-background);
}
.subjectBg:hover {
  background-color: var(--subject-item-hover-background);
  transition: 0.5s;

}

.title {
  font-size: 1.5em;
  color: var(--title-text-color);
  display: block;
  margin-bottom: 10px;
  padding-left: 10px;
}
.editIcon {
  color: black;
  background-color: #cbcbcb;
  position: relative;
  bottom: 3px;
  padding: 5px;
  padding-right: 2px;
  border-radius: 15px;
  float: right;
}
.editIcon:hover {
  background-color: #a6a6a6;
  cursor: pointer;
}
.active {
  background-color: var(--subject-item-active-background);
  color:black;
}
.allDiscussions {

  border-bottom: none;
  /*background-color: rgb(61, 113, 255); */
  background-color: var(--special-button-background);
}
.allDiscussionsFilter {
  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px solid rgb(204, 204, 204);
}

