<div *ngIf="replies && discuss" class="bgBackground" style="min-height:99vh; color: white; padding-top: 30px;">
  <div class="ui grid">
    <div class="three column row">
      <div class="four wide column borderS"></div>
      <div class="eight wide column borderS">
        <div class="one column row">
          <div class="column borderS">
            <div class="discussMainDiv">
            <h2>Yanıtlar</h2>
            <hr style="margin:0px; margin-top:0px; margin-bottom:20px">
            <app-discuss [discuss]="discuss"></app-discuss>
            <div *ngFor="let reply of replies">
              <app-reply [reply]="reply" [refresh]="replyRefresh"></app-reply>
            </div>
            {{isAddedControl()}}
            <app-add-reply [discussId]="discuss.discussId" [isAdded]="isAdded"></app-add-reply>
            </div>
          </div>
        </div>

      </div>
      <div class="four wide column borderS"></div>
    </div>
  </div>
</div>
