<div style="min-height:99vh;" class="bgBackground" >
  <div class="passwordResetMain" *ngIf="codeStatus == 1">
    <div class="siteLogo"></div>
    <br/><br/>
    <div class="textInput">
      <input type="password" autocomplete="off" required="required" [(ngModel)]="newPass">
      <span>Yeni Şifrenizi Girin</span>
      <i></i>
    </div>
    <br/>
    <div class="ui animated fade  button bgYellow" (click)="resetPassword()" tabindex="0">
      <div class="visible content" >Sıfırla</div>
      <div class="hidden content">
        <i class="paper plane outline icon"></i>
      </div>
    </div>
  </div>
  </div>
